body{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(#ADD8E6, #87CEEB) ;
}



.center 
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid #3333FF;
}
